.my_timer {

   
    font-size: 10vw;
    #font-size:calc(30vw-1vh);
    max-width: 100%;
    text-align: center;
    user-select: none;

  
    
}

.country
{
    font-size: 10vw;
    max-width: 100%;
    text-align: center;
    user-select: none;
}

.capital
{
    font-size: 40px;
}